@font-face {
  font-family: "Notosans-L";
  src: url("/fonts/NotoSansKR/NotoSansKR-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Notosans-R";
  src: url("/fonts/NotoSansKR/NotoSansKR-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Notosans-SB";
  src: url("/fonts/NotoSansKR/NotoSansKR-SemiBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Notosans-B";
  src: url("/fonts/NotoSansKR/NotoSansKR-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'MaruBuri-EL';
  src: url('/fonts/MaruBuri/MaruBuri-ExtraLight.woff2') format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'MaruBuri-L';
  src: url('/fonts/MaruBuri/MaruBuri-Light.woff2') format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'MaruBuri-R';
  src: url('/fonts/MaruBuri/MaruBuri-Regular.woff2') format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'MaruBuri-SB';
  src: url('/fonts/MaruBuri/MaruBuri-SemiBold.woff2') format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'MaruBuri-B';
  src: url('/fonts/MaruBuri/MaruBuri-Bold.woff2') format("woff2");
  font-display: swap;
}

/* GangwonEdu_OTFBoldA 폰트 */
@font-face {
  font-family: 'GangwonEdu-B';
  src: url("/fonts/GangwonEdu/GangwonEdu-Bold.woff") format("woff");
  font-display: swap;
}

body {
  font-family: "MaruBuri";
}
